<!DOCTYPE html>
<head>
    <title>Amity University , Noida</title>
</head>
<div class="container-fluid">
    <div class="heading">
            <h1>Amity University</h1>
            <h2 class="subheading">Noida</h2>
    </div>
<div id="jumbo-pages" class="jumbotron">
    <h2 class="school-heading">Pick a subject!</h2>
    <br>
    <ul class="classes">
                        <li><a href="#/amitynoida-dualclinicalpsychology" id="list-item-a"><strong>BA+ MA Clinical Psychology</strong></a></li>
                        <li><a href="#/amitynoida-criminalpsychology" id="list-item-a"><strong>Criminal Psychology</strong></a></li>
                        <li><a href="#/amitynoida-computerscience" id="list-item-a"><strong>B. Tech Computer Science</strong></a></li>
    </ul>

    </div>
</div>
