<!DOCTYPE html>
<html>
    <head>
        <title>Class 12 FAPS</title>
    </head>
    <body>
    <div class="container-fluid">
    <div class="heading">
    <h1>Class 12 FAPS</h1>
    <h2 class="subheading"></h2>
    </div>
    <div class="row">
        
        <div class="col-xs-6">
            <div class="jumbotron">
                                <h3>Previous Question Papers</h3>
                <br>
                <br>
            </div>
        </div>
        
        <div class="col-xs-6">
            <div class="jumbotron"</div>
                <h3>Notes</h3>
    </div>
        
