<div class="footer">
    <div class="row">
    <div class="col-md-1 col-xs-offset-1 ">
        <h3>Top Papers</h3>
        <ul class="exam-papers">
            <li><a>FAPS,Delhi</a></li>
            <li><a>DTU</a></li>
            <li><a>NSIT</a></li>
        </ul>
    </div>
    <div class="col-md-2 col-xs-offset-1 ">
        <h3>Top Notes</h3>
        <ul class="exam-papers">
            <li><a>ICSE Computer Science</a></li>
            <li><a>ICSE Geography</a></li>
            <li><a>ICSE Biology</a></li>
            <li><a>ISC Chemistry</a></li>
        </ul>
    </div>
    <div class="col-md-2 col-xs-offset-1">
        <h3>Site links</h3>
            <ul class="exam-papers">
            <li><a>About Us</a></li>
            <li><a>Contact Us</a></li>
            <li><a><strong>Login</a></strong></li>
            <li><a><strong>Sign Up</a></strong></li>
            <li><a><strong>Submit Content</strong></a></li>
            <li><a>Privacy</a></li>
            <li><a>Terms &amp; Conditions</a></li>
        </ul>
    </div>
     <div class="about col-md-3 hidden-xs hidden-sm">
        <h3>What is pass ho jao!</h3>
            <p>Pass ho jao is a platform for school and college students to easily share notes and previous years question papers to aid them during exams. We aim to provide free access to all materials.</p>
    </div>
               
</div>
    <div class="copy row">
        <small>Copyright &copy; 2015 Passhojao.com</small>
        </div>
</div>

    <!--<div class="col-md-4">
        <h2>Twitter and stats place</h2>
            
    <div class="row">
        <div class="col-md-4">
            <h2>What is Pass ho jao!</h2>
        </div>
    </div>
    </div>
-->