<!DOCTYPE html>
<head>
    <title>The Indian School</title>
</head>
<div class="container-fluid">
    <div class="heading">
            <h1>The Indian School School</h1>
            <h2 class="subheading">New Delhi</h2>
    </div>
<div id="jumbo-pages" class="jumbotron">
    <h2 class="school-heading">Pick a class!</h2>
    <br>
    <ul class="classes">
                        <li><a href="#/indian-class12" id="list-item-a"><strong>Class 12</strong></a></li>
                        <li><a href="#/indian-class11" id="list-item-a"><strong>Class 11</strong></a></li>
                        <li><a href="#/indian-class10" id="list-item-a"><strong>Class 10</strong></a></li>
    </ul>

    </div>
</div>
