<!DOCTYPE html>
<html>
    <head>
        <title>Pass ho jao! Sharing Knowledge!</title>
    </head>
    <body>
    <div class="main">
    <div class="container-fluid">
    <div class="heading">
    <h1>Pass ho jao!</h1>
    <h2 class="subheading">No more last day running for notes and question papers!</h2>
    </div>
    <div class="row">
        
        <div class="col-md-offset-0 col-md-8">
            <div id="jumbo" class="jumbotron">
                                <h2>Free School and College Notes and Question Papers</h2>
                <br>
                <br>
                    <p id="desc">We aim to provide best notes and other resources for various exams. Contribute and consume the content!</p>
                <h2>Popular Schools on Pass ho jao!</h2>
                    <ul class="school">
                        <li><a href="#/fapsdelhi" id="list-item-a"><strong>The Frank Anthony Public School,New Delhi</strong></a></li>
                        <li><a href="#/dpsdwarka" id="list-item-a"><strong>Delhi Public School,Dwarka</strong></a></li>
                        <li><a href="#/dpsrkpuram" id="list-item-a"><strong>Delhi Public School, R.K. Puram</strong></a></li>
                        <li><a href="#/indian" id="list-item-a"><strong>The Indian School</strong></a></li>
                </ul>
                
                <h2>Popular Colleges on Pass ho jao!</h2>
                    <ul class="college">
                        <li><a href="#/dtu" id="list-item-a"><strong>Delhi Technical University</strong></a></li>
                        <li><a href="#/iitd" id="list-item-a"><strong>IIT Delhi</strong></a></li>
                        <li><a href="#/mait" id="list-item-a"><strong>Maharaja Agrasen Institute of Technology, Delhi</strong></a></li>
                        <li><a href="#/nsit" id="list-item-a"><strong>Netaji Subhas Institute of Technology, Delhi</strong></a></li>
                        <li><a href="#/amitynoida" id="list-item-a"><strong>Amity University, Noida</strong></a></li>
                        <li><a href="#/jmi" id="list-item-a"><strong>Jamia Millia Islamia, New Delhi</strong></a></li>
                        <li><a href="#/aiactr" id="list-item-a"><strong>Ambedkar Institute of Advanced Communication Technologies and Research, Delhi</strong></a></li>
                </ul>
                
            </div>
            
            <p class="random-quote hidden-xs">
                    <q>Education is not the filling of a pail, but the lighting of a fire.</q>
                        <span class="quote-attribution">- William Butler Yeats</span>
                </p>
       
    
    
        
        </div>
    </div>
    </div>
        </div>
    </body>
</html>

