<!DOCTYPE html>
<head>
    <title>Maharaja Agrasen Institute of Technology, Delhi</title>
</head>
<div class="container-fluid">
    <div class="heading">
            <h1>Maharaja Agrasen Institute of Technology</h1>
            <h2 class="subheading">New Delhi</h2>
    </div>
<div id="jumbo-pages" class="jumbotron">
    <h2 class="school-heading">Pick a subject!</h2>
    <br>
    <ul class="classes">
                        <li><a href="#/mait-cs" id="list-item-a"><strong>B. Tech Computer Science</strong></a></li>
                        <li><a href="#/mait-ece" id="list-item-a"><strong>B. Tech Electronics and Communication</strong></a></li>
                        <li><a href="#/mait-ee" id="list-item-a"><strong>B. Tech Electrical</strong></a></li>
    </ul>

    </div>
</div>
